@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
img{
    width: 980px;
    height: 500px;
}
.clearfix{
    &:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
    }
}
.wrap{
    width: 980px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #000;
    h3{
        cursor: pointer;
    }
    &>.tab-box{
        height: 500px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        width: 150px;
        text-align: center;
        &>h3{
            flex: 1;
            line-height: 125px;
            border-bottom: 1px solid #000;
            &:last-of-type{
                border: none;
            }
            &.active{
                background: green;
            }
        }
    }
    .banner-box{
        display: none;
        ul{
            overflow: hidden;
            width: 830px;
            height: 500px;
            margin-left: 150px;
            li{
                float: left;
            }
        }
        .banner-tab{
            position: absolute;
            width: 830px;
            height: 30px;
            bottom: 0;
            left: 150px;
            background: rgba(255,255,255,0.5);
            display: flex;
            display: -webkit-flex;
            h3{
                flex: 1;
                line-height: 30px;
                text-align: center;
                border-right: 1px solid #000;
                &:last-of-type{
                    border: none;
                }
                &.active{
                    background: red;
                }
            }
        }
    }
}